.form_OpenCss {
    width: 40%;
    height: 10%;
    align-items: center;
    justify-content: center;

}

.Buttom_CriarConta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Entrar_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.Container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000931;

}

.custom-header {
    background-color: #000931;
    padding: 10px 0;
}

.search-bar {
    max-width: 500px;
}

.btn-plan {
    background-color: white;
    color: black;
    border-radius: 0;
}

.btn-plan:hover {
    background-color: #000931;
    color: white;
}

.nav-link {
    color: white;
    margin-left: 15px;
}

.nav-link:hover {
    color: #000931;
}

.Entre_contato {
    align-items: center;
}